

.content{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.578),
    rgba(0, 0, 0, 0.5)), url("https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}